html,
body,
iframe {
  height: 100%;
  width: 100%;
}

h4 {
  margin: 4px;
}

#react-root {
  background: #f5f6f7;
  font-family: 'Open Sans', sans-serif;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

#top-bar h4 {
  text-align: center;
  align-items: center;
  margin: 0;
  margin-top: 5px;
  font-weight: 700;
}

.shadow-el {
  width: 50px;
}

#control-panel button {
  font-weight: 600;
  vertical-align: middle;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  outline: none;
  transition: border 80ms ease 0s;
  border-style: solid;
  border-width: 0.0625rem;
  background: rgb(100, 81, 138);
  border-color: rgb(100, 81, 138);
  line-height: 34px;
  border-radius: 0.25rem;
}

.grid {
  height: 95vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 16.67%);
}

#visEditorWrapper {
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
}

#queryEditorWrapper,
#dataEditorWrapper,
#depsEditorWrapper {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#dataEditorWrapper {
  grid-row: 2 / span 1;
}

#depsEditorWrapper {
  grid-row: 3 / span 1;
}

#visWrapper {
  grid-column: 2 / span 1;
  grid-row: 4 / span 3;
}

.grid-element {
  background: #313335;
  color: #bbb;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 5px;
}

#visWrapper {
  background: #f5f6f7;
  color: #313335;
}

.grid-element .editor {
  height: 100%;
}

.grid-element .CodeMirror {
  height: calc(100% - 34px);
  font-size: 13px;
}
