html, body, iframe {
    height: 100%;
    width: 100%;
}

h4 {
    margin: 4px;
}

#top-bar {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

#control-panel {
    padding: 20px;
}

#control-panel button {
    padding: 2px;
    font-size: 24px;
}

.grid {
    height: calc(100% - 100px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 16.67%);
}

#visEditorWrapper {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
}

#queryEditorWrapper,
#dataEditorWrapper,
#depsEditorWrapper
 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#dataEditorWrapper {
    grid-row: 2 / span 1;
}

#depsEditorWrapper {
    grid-row: 3 / span 1;
}

#visWrapper
 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 3;
}

.grid-element {
    border: 1px solid #333;
    box-sizing: border-box;
    padding: 5px;
}

.grid-element .editor {
    height: 100%;
}

.grid-element .CodeMirror {
    height: calc(100% - 34px);
}